USE [master]
GO
/****** Object:  Database [Teretana]    Script Date: 2/19/2017 9:40:08 PM ******/
CREATE DATABASE [Teretana]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Teretana', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Teretana.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Teretana_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Teretana_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Teretana].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Teretana]
GO
USE [Teretana]
GO
/****** Object:  Table [dbo].[AktivnaClanarina]    Script Date: 2/19/2017 9:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AktivnaClanarina](
	[AkivnaClanarinaId] [int] IDENTITY(1,1) NOT NULL,
	[ClanoviId] [int] NOT NULL,
 CONSTRAINT [PK_AktivnaClanarina] PRIMARY KEY CLUSTERED 
(
	[AkivnaClanarinaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clanarina]    Script Date: 2/19/2017 9:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clanarina](
	[ClanarinaId] [int] IDENTITY(1,1) NOT NULL,
	[ClanoviId] [int] NOT NULL,
 CONSTRAINT [PK_Clanarina_1] PRIMARY KEY CLUSTERED 
(
	[ClanarinaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clanovi]    Script Date: 2/19/2017 9:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clanovi](
	[ClanoviId] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[VremeOd] [datetime] NOT NULL,
	[VremeDo] [datetime] NOT NULL,
 CONSTRAINT [PK_Clanovi] PRIMARY KEY CLUSTERED 
(
	[ClanoviId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DeaktivnaClanarina]    Script Date: 2/19/2017 9:40:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeaktivnaClanarina](
	[DeaktivnaClanarina] [int] IDENTITY(1,1) NOT NULL,
	[ClanoviId] [int] NOT NULL,
 CONSTRAINT [PK_DeaktivnaClanarina] PRIMARY KEY CLUSTERED 
(
	[DeaktivnaClanarina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AktivnaClanarina] ON 

INSERT [dbo].[AktivnaClanarina] ([AkivnaClanarinaId], [ClanoviId]) VALUES (15, 24)
INSERT [dbo].[AktivnaClanarina] ([AkivnaClanarinaId], [ClanoviId]) VALUES (16, 25)
INSERT [dbo].[AktivnaClanarina] ([AkivnaClanarinaId], [ClanoviId]) VALUES (17, 26)
SET IDENTITY_INSERT [dbo].[AktivnaClanarina] OFF
SET IDENTITY_INSERT [dbo].[Clanarina] ON 

INSERT [dbo].[Clanarina] ([ClanarinaId], [ClanoviId]) VALUES (27, 24)
INSERT [dbo].[Clanarina] ([ClanarinaId], [ClanoviId]) VALUES (28, 25)
INSERT [dbo].[Clanarina] ([ClanarinaId], [ClanoviId]) VALUES (29, 26)
SET IDENTITY_INSERT [dbo].[Clanarina] OFF
SET IDENTITY_INSERT [dbo].[Clanovi] ON 

INSERT [dbo].[Clanovi] ([ClanoviId], [Ime], [Prezime], [VremeOd], [VremeDo]) VALUES (24, N'Pera', N'Peric', CAST(N'2017-02-19T20:35:57.253' AS DateTime), CAST(N'2017-02-19T20:35:57.257' AS DateTime))
INSERT [dbo].[Clanovi] ([ClanoviId], [Ime], [Prezime], [VremeOd], [VremeDo]) VALUES (25, N'Zika', N'Zikic', CAST(N'2017-02-19T20:51:34.807' AS DateTime), CAST(N'2017-03-21T21:37:14.570' AS DateTime))
INSERT [dbo].[Clanovi] ([ClanoviId], [Ime], [Prezime], [VremeOd], [VremeDo]) VALUES (26, N'Mika', N'Mikic', CAST(N'2017-02-19T21:14:31.243' AS DateTime), CAST(N'2017-03-21T21:14:31.247' AS DateTime))
SET IDENTITY_INSERT [dbo].[Clanovi] OFF
ALTER TABLE [dbo].[AktivnaClanarina]  WITH CHECK ADD  CONSTRAINT [FK_AktivnaClanarina_Clanovi] FOREIGN KEY([ClanoviId])
REFERENCES [dbo].[Clanovi] ([ClanoviId])
GO
ALTER TABLE [dbo].[AktivnaClanarina] CHECK CONSTRAINT [FK_AktivnaClanarina_Clanovi]
GO
ALTER TABLE [dbo].[Clanarina]  WITH CHECK ADD  CONSTRAINT [FK_Clanarina_Clanovi] FOREIGN KEY([ClanoviId])
REFERENCES [dbo].[Clanovi] ([ClanoviId])
GO
ALTER TABLE [dbo].[Clanarina] CHECK CONSTRAINT [FK_Clanarina_Clanovi]
GO
ALTER TABLE [dbo].[DeaktivnaClanarina]  WITH CHECK ADD  CONSTRAINT [FK_DeaktivnaClanarina_Clanovi] FOREIGN KEY([ClanoviId])
REFERENCES [dbo].[Clanovi] ([ClanoviId])
GO
ALTER TABLE [dbo].[DeaktivnaClanarina] CHECK CONSTRAINT [FK_DeaktivnaClanarina_Clanovi]
GO
USE [master]
GO
